.login-page{
  background-image: linear-gradient(red, purple);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .login-container{
    height: 60vh;
    width: 38vw;
    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .title{
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 14px;
    }

    .login-form{
      display: flex;
      align-items: center;
      flex-direction: column;

      .form-item{
        margin-bottom: 25px;
        display: flex;

        .email-title{
          margin-right: 48px;
          font-size: 17px;
        }
        .password-title{
          margin-right: 10px;
          font-size: 17px;
        }
        .input-field{
          border: 2px solid purple;
          border-radius: 4px;
          font-size: 15px;
        }
      }

      .form-button-container{
        width: 36vw;

        .form-button{
          height: 25px;
          width: 20vw;
          background-color: purple;
          border: none;
          color: white;
          font-size: 18px;
        }
      }

      .incorrect-message{
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
      }

      .new-account-button{
        margin-top: 20px;
        height: 25px;
        width: 20vw;
        background-color: purple;
        border: none;
        color: white;
        font-size: 18px;
      }
    }
  }
}