.navBar-wrapper {
  width: 100vw;
  display: flex;
  background-color: black;
  height: 80px;
  align-items: center;

  .logo img {
    height: 65px;
    margin-right: 50px;
  }

  .links-wrapper{
    a{
      margin: 0px 15px 0px 15px;
      color: white;
      font-size: 1.8rem;
    }
  }
}

.navBar-wrapper h1 {
font-size: 45px;
font-weight: bold;
// position: absolute;
text-align: left;
// top: 10px;
// left: 20px;
color: white;
}

.home h1 {
font-size: 45px;
font-weight: bold;
position: absolute;
text-align: left;
top: 10px;
right: 20px;
color: white;
}


// body {
//   margin: 0;
//   padding: 50px;
//  align-items: center;
//   // box-sizing: border-box;
//   background-color: #e4e4ed;
  // background-image: url('data:image/svg+xml,%3Csvg width="100" height="20" viewBox="0 0 100 20" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z" fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"/%3E%3C/svg%3E');
//   // background-color: #383838;
// }

// header {
//   alignment: top;
//   margin: 0;
//   width: 100%;
//   height: 70px;
//   color: solid black;
// }


.profile-item-wrapper {
  margin: 20px;
  top: 250px;
  padding: 0px;
  border: 5px solid black;
  height: 375px;
  width: 275px;
  background-color: #000;
  color: #fff;
  // margin-top: 85px;
  border-radius: 10px;
  border-spacing: 5px;
}

.userProfile-wrapper-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  // margin-top: 85px;


}

.user-info-wrapper {
  display: flex;
  flex-direction: column;

  .user-name h4 {
    text-transform: uppercase;
  text-decoration: underline;
  font-size: 18px;
  text-align: center;
  padding: 9px;
  }

  .user-info{
    margin-bottom: 12px;
  }
}

// .user-info-wrapper h4 {
//   text-transform: uppercase;
//   text-decoration: underline;
//   font-size: 18px;
//   text-align: center;
//   padding: 9px;
// }

.profile-item-wrapper p {
  font-size: 12px;
  text-align: center;
}

.img-profile-wrapper img {
  display: block;
  margin: auto;
  border: 0px solid black;
  border-radius: 1050px;
  width: 60%;
  height: 210px;
}

.hotnothot-score-wrapper p {
  font-size: 14px;
  text-align: left;
}

.btn-wrapper {
  display: flex;

  .profile-button{

    
    font-weight: bold;
    color: #fff;
    background-color: #363636;
    border: 2px solid #575757;
    border-radius: 5px;
    padding: 3px space-around;
    text-align: space-between;
    height: 30px;
    width: 100%;
    color: #fff;
  }
}

.btn1 {
  // position: absolute;
  // left: 310px;
  top: 75px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  background-color: #363636;
  border: 2px solid #575757;
  border-radius: 5px;
  padding: 3px space-around;
  // text-align: space-between;
  height: 30px;
  width: 20%;
  color: #7cafd6;
}

.btn2 {
  // position: absolute;
  // right: 310px;
  // top: 75px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  background-color: #363636;
  border: 2px solid #575757;
  border-radius: 5px;
  padding: 3px space-around;
  // text-align: space-between;
  height: 30px;
  width: 20%;
  color: #b16fbf;
}

.userProfile-page-wrapper {
    background-image: url('data:image/svg+xml,%3Csvg width="100" height="20" viewBox="0 0 100 20" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z" fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"/%3E%3C/svg%3E');
    display: flex;
    flex-direction: column;
    // grid-template-columns: 1fr;
    width: 100vw;
    justify-content: space-around;
    // margin-top: 85px;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.scores {
  display: flex;
  justify-content: space-between;

  .score-item p {
    font-size: 20px;
  }
}

.footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;

  .footer-logo img {
    height: 65px;
  }

  .links-wrapper{
    a{
      margin: 0px 15px 0px 15px;
      color: white;
      font-size: 1.8rem;
    }
  }
}
// .navBar-wrapper footer {
//   position: absolute;
//   bottom: 0px;
//   width: 100%;
//   height: 80px;
//   left: 0px;
//   background-color: black;


